.contact-us {
  overflow: hidden;
  grid-row: 4;
  margin-top: 100px;

  @include display-grid-mobile;

  @include on-tablet {
    @include display-grid-tablet;

    margin-top: 140px;
  }

  @include on-desktop {
    @include display-grid-desktop;

    margin-top: 140px;
  }

  &__wrapper {
    display: grid;
    box-sizing: border-box;
    grid-column: 1 / -1;
  }

  &__header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__title {
    @include title-text-mobile-tablet-desktop;
  }

  &__address-container {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      display: inline-grid;
      grid-column: span 5;
      grid-auto-flow: column;
    }
  }

  &__address {
    margin-top: 48px;
    box-sizing: border-box;
  }

  &__address-title {
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
    font-weight: 700;
    margin: 0;
  }

  &__address-phone {
    margin-top: 16px;
  }

  &__address-text {
    font-size: 14px;
    line-height: 27px;
    color: $main-dark;
    font-weight: 400;
    margin: 0;
  }

  &__phone {
    font-size: 16px;
    line-height: 27px;
    color: $main-grey;
    font-weight: 700;
    margin: 0;
  }

  &__address-location {
    box-sizing: border-box;
  }

  &__location {
    font-size: 16px;
    line-height: 27px;
    color: $main-grey;
    font-weight: 700;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    grid-column: 1 / -1;
    margin-top: 48px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__input {
    background-color: $light-grey;
    border: 1px solid $light-grey;
    height: 48px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0 0 0 20px;
    color: $main-dark;
    font-family: Cinzel, serif;

    &:hover {
      border: 1px solid $input-border-grey;
      &::placeholder {
        color: $main-dark;
      }
    }

    &:focus {
      border: 1px solid $main-dark;
      outline: none;
      &::placeholder {
        color: $main-dark;
      }
    }
  }

  &__input--textarea {
    padding-top: 14px;
    height: 144px;
    resize: none;
  }

  &__button {
    @include button-style;
  }
}
