.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 190px;
  background-size: 195%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  box-sizing: border-box;
  background-image: url('../../assets/images/footer-image.png');
  will-change: transform;
  contain: layout;
  z-index: -1;

  @include on-tablet {
    height: 360px;
    background-size: 170%;
    background-position: 60% 50%;
  }

  @include on-desktop {
    height: 360px;
    background-size: cover;
    background-position: 100% 45%;
  }
}
