@import '/src/styles/utils/variables';
@import '/src/styles/utils/mixins';
@import '/src/styles/blocks/hero';
@import '/src/styles/blocks/header';
@import '/src/styles/blocks/main';
@import '/src/styles/blocks/museum-hours';
@import '/src/styles/blocks/now-on-view';
@import '/src/styles/blocks/more-to-explore';
@import '/src/styles/blocks/contact-us';

body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: Cinzel, serif;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}
