$white: #fff;
$accent-main: #d12d35;
$accent-light: #eb343d;
$accent-dark: #ae1c23;
$main-dark: #161616;
$main-grey: #3e3e3e;
$light-grey: #f8f8fa;
$input-grey: #7e7e83;
$input-border-grey: #d5d7de;
$desktop-min-width: 1260px;
$tablet-min-width: 768px;
